<ion-header>
    <ion-navbar>
        <ion-title>Customer</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
            <span color="primary" showWhen="ios">
              {{ 'DONE_BUTTON' | translate }}
            </span>
            <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="text" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Sender Fio" formControlName="senderFio"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Receiver Fio" formControlName="receiverFio"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Cell Phone" formControlName="cellPhone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Home Phone" formControlName="homePhone"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
