<ion-header>
    <ion-navbar>
        <ion-title>Customers</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="add()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let customer of customers; trackBy: trackId">
            <button ion-item (click)="open(customer)">
                <h2>{{customer.senderFio}}</h2>
                <h2>{{customer.receiverFio}}</h2>
                <h2>{{customer.cellPhone}}</h2>
                <h2>{{customer.homePhone}}</h2>
            </button>
            <ion-item-options>
                <button ion-button color="danger" (click)="delete(customer)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!customers?.length">
        No Customers found.
    </ion-item>
</ion-content>
